<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>packers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953D290B1E31E7AD004E48DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953D29221E31E7B1004E48DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953D292D1E31E7B1004E48DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
